:root {
  --color-primary: #9c27b0; /*#f5e8c7;*/
  --color-secondary: #ab003c; /*#9e7777;*/
  --color-background: #deba9d;
}

* {
  margin: 0px;
  font-family: "Kaisei Tokumin", serif;
}

.appContainer {
  display: flex;
}

.bodyContainer {
  flex: 4;
  margin-top: 50px;
}

.mainContainer {
  display: flex;
  height: 100%;
}
